<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package
			uri = "http://www.sctest.org/scdsl/SCDsl"
			class = "org.sctest.scdsl.sCDsl.SCDslPackage"
			genModel = "model/generated/SCDsl.genmodel" />
	</extension>
</plugin>
